/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  padding: 10px;
  background-color: var(--page-bg);
}
 
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 0;

}

.decorated-zone::after {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 0px;
}


.header_rec {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  color: var(--accent-color);
}

.header_rec::before {
  content: "REC";
  position: absolute;
  right: 17px;
  font-family: var(), sans-serif;
  font-size: 18px;
}

.header_rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  right: 0;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu{
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
}

.header__theme-menu-button {
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  color: var(--accent-color);
  padding: 3px 12px;
  cursor: pointer;
  border: 1px solid transparent;
}

.header_title { 
  display: block;
  align-self: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--header-title-size);
  line-height: 97px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_text {
  max-width: 355px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  align-self: center;
  color: var(--h1-color);
}

.title-decor {
  background-color: var(--accent-color);
}



.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: grid;
}

.article {
  display: grid;
  gap: 20px;
}
.section_title {
  color: var(--section-title-color);
}

.article_text {
  color: var(--article-text-color);
}

.article_link {
  text-shadow: 1px 1px 0 var(--accent-color);
  text-decoration: none;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery_list {
  display: grid;
  gap: 10px;
}

.gallery-image {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer_title {
  justify-self: center;
  align-self: center;
  font-size: var(--header-title-size);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {

  .page {
    padding-inline: 20px;
    gap: 60px;
  }

  .decorated-zone::before {
    top: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
  }
  .header_rec {
    top: 20px;
  }

  .header__theme-menu {
    padding-block-start: 13px;
    padding-inline-start: 1.5px;
  }
  
  .header_title {
    font-size: var(--header-title-size-desktop);
    margin-inline-start: -20px;
  }

  .header_text {
    max-width: 364px;
    justify-self: end;
    margin-block-end: 20px;
  }

  .content {
    gap: 80px;
  }

  .gallery {
    gap: 20px;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    align-self: start;
    justify-self: center;
    padding-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header_text {
    max-inline-size: 30.6875rem;
  }

  .section {
    gap: 12px;
  }
  .article {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    min-height: 768px;
  }

}