/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding-inline: 10px;
  background-color: var(--page-bg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-rows: 1fr min-content 1fr;
  background-image: var(--bg-image);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 10px;
  right: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 10px;
}


.header_rec {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  color: var(--accent-color);
}

.header_rec::before {
  content: "REC";
  position: absolute;
  right: 17px;
  font-family: var(), sans-serif;
  font-size: 18px;
}

.header_rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 7px;
  right: 0;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu{
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  inline-size: 70px;
}

.header_title { 
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--header-title-size);
  line-height: 95px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_text {
  align-self: center;
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
  color: var(--title-color);
  margin-block-end: 10px;
}

.title-decor {
  color: var(--h1-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--accent-color);
}



.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section_title {
color: var(--section-title-color);
}

.article_text {
color: var(--article-text-color);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery_list {
  display: grid;
  gap: 10px;
}

.gallery-image {
  object-position: center;
  object-fit: cover;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer_title {
  justify-self: center;
  align-self: center;
  font-size: var(--header-title-size);
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}