/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png) center no-repeat;
  --accent-color:#ff0070;
  --title-color:#db00ff;
}