/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --page-bg:#000028;
  --accent-color:#ff0070;
  --title-color:#db00ff;
  --h1-color:#000028;
  --h1-shadow: #ff0070;
  --header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --section-title-color:#ff0070;
  --article-text-color:#f1b2ce;
  --link-shadow:#ff0070;
}